:root {
  --bg-primary: #c45353;
  --bg-secondary: #ffffff;
  --bg-secondary-hover: #f2f2f2;

  --text-primary: #f3f4f6;
  --text-secondary: #d1d5db;

  --text-links: #993e3e;
  --text-links-hover: #b91c1c;

  --button-primary: var(--bg-primary);
  --button-primary-hover: #a35a5a;
  --button-secondary: #3e4043;
  --button-secondary-hover: #0a0b0b;
  --button-green: #16a34a;
  --button-green-hover: #12813a;
  --button-red: #b91c1c;
  --button-red-hover: #971717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

.page {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  /* max-height: 100vh; */
  overflow-x: hidden;
  /* overflow-y: hidden; */

  background-color: var(--bg-primary);
}

.single-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 90vh;
  /* max-height: 90vh; */

  margin-bottom: 20px !important;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.shadow {
  box-shadow: 5px 5px 0 2px rgba(255, 255, 255, 0.624) !important;
}

.button {
  border: none !important;
  padding: 10px !important;
  border-radius: 5px;
}

.primary {
  background-color: var(--button-primary);
  color: var(--text-primary);
  transition: background-color 0.4s ease;
}

.primary:hover {
  background-color: var(--button-primary-hover);
  cursor: pointer;
}

.secondary {
  background-color: none;
  color: var(--button-secondary) !important;
  border-radius: 5px;
  border: 1px solid var(--button-secondary) !important;

  transition: background-color 0.4s ease;
}

.secondary:hover {
  background-color: rgb(228, 228, 228) !important;
  color: var(--button-secondary-hover) !important;
  border: 1px solid var(--button-secondary-hover) !important;
  cursor: pointer;
}

.link {
  background-color: none;
  color: var(--text-links);
}

.link:hover {
  background-color: none;
  color: var(--text-links-hover);
  cursor: pointer;
}

.green {
  background-color: var(--button-green);
  color: var(--text-primary);
  border: none !important;
  transition: background-color 0.4s ease;
}

.green:hover {
  background-color: var(--button-green-hover) !important;
  border: none !important;
  color: var(--text-primary) !important;
  cursor: pointer;
}

.red {
  background-color: var(--button-red);
  color: var(--text-primary);
  border: none !important;

  transition: background-color 0.4s ease;
}

.red:hover {
  background-color: var(--button-red-hover) !important;
  border: none !important;
  color: var(--text-primary) !important;
  cursor: pointer;
}

.disabled button {
  opacity: 0.5;
}

.select {
  background-color: none;
  color: var(--button-secondary) !important;
  border-radius: 5px;
  border: 1px solid var(--button-secondary) !important;

  transition: background-color 0.4s ease;
}
