.timer-container {
  width: calc(30vw + 40px);
  min-height: 25vh;
  max-height: 45vh;

  padding: 20px;

  background-color: var(--bg-secondary);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.timer-container h3 {
  margin-bottom: 10px 0 20px 0;

  text-align: center;
  font-size: 1rem;
}

.timer-display {
  width: 30vw;
  height: 15vh;

  background-color: var(--bg-primary);
  border-radius: 10px;
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 4rem;
  font-weight: bold;
}

.timer-display-session {
  background-color: var(--bg-primary);
}

.timer-display-work {
  background-color: green;
}

.timer-display-break {
  background-color: #2d7da4;
}

.fullscreen-button {
  background-color: transparent !important;
  color: var(--text-primary) !important;
  font-size: 1.5rem !important;
  border: none !important;
  box-shadow: none !important;
  position: fixed !important;
  margin-left: calc(30vw - 40px) !important;
}

.fullscreen-button:hover {
  background-color: transparent !important;
  color: var(--text-primary) !important;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.fullscreen {
  width: 90vw;
  min-height: 45vh;
  max-height: 90vh;
  position: fixed;
  top: 10vh;
  left: 5vw;
  margin-top: 20px;
  z-index: 700;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fullscreen .timer-display {
  width: 70vw !important;
  height: 35vh !important;
}

.fullscreen .timer-display {
  font-size: 500%;
}

.fullscreen .timer-button-group {
  width: 70vw !important;
}

.fullscreen .fullscreen-button {
  margin-left: calc(70vw - 40px) !important;
  margin-bottom: calc(40vh + 40px) !important;
}

.fullscreen .settings-popup {
  width: 40vw !important;
  height: 38vh !important;

  align-self: flex-start;
  justify-content: flex-start;

  margin-left: calc(10vw - 20px);
  margin-top: 40px;
}

.timer-button-group {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.timer-button-group-left button {
  margin-right: 10px;
}

.settings-popup {
  min-height: 100px;
  margin-top: 20px;
  width: 100%;
  height: 20vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.settings-row {
  width: 100%;
  padding: 10px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-row input {
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  padding: 5px;
}

.settings-row .settings-popup h3 {
  margin-top: 10px;
}

.settings-popup-button-group button {
  margin-right: 10px;
}

.timer-input-error {
  background-color: #ffe6e6;
}
