.dashboard-card {
  width: 90vw !important;
  height: fit-content;
}

.dashboard-card h3 {
  margin-bottom: 10px;
}

.dashboard-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card-wrapper {
  margin: 10px 0;
  border-radius: 10px;
}

.line-card .ant-card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.line-card {
  margin-bottom: 10px !important;
}

.line-card .ant-card-body:hover {
  background-color: var(--bg-secondary-hover);
  cursor: pointer;
}

.invitation-card .ant-card-body:hover {
  background-color: var(--bg-secondary) !important;
  cursor: default !important;
}

.invitation-card p {
  font-weight: bold;
}

.line-card .ant-card-body img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  margin-right: 20px;
}

#group-name {
  min-width: 20vw;
  max-width: 20vw;
  margin-right: 20px;
  font-weight: bold;
}

.invitation-card-button-container {
  margin: 0 0 0 auto !important;
}

.invitation-card-button-container button {
  margin: 0 5px;
}
