.group-dashboard {
  width: 90vw;
  max-height: 90vh;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.group-dashboard-button-container button {
  width: 100%;
  margin-bottom: 20px;
}

.group-chat-section {
  width: 90vw;
  min-height: 28vh;
  margin-top: 20px;
  padding: 10px;

  border-radius: 10px;

  background-color: var(--bg-secondary);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-container {
  width: 100%;
}

.chat-header {
  width: calc(90vw - 20px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-messages {
  width: 100%;
  min-height: 18vh;
  max-height: 18vh;

  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: flex-start; */

  overflow-y: auto;

  background-color: var(--bg-secondary-hover);
}

.chat-input-container {
  width: 90vw;
  /* height: 2vh; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.chat-input-send-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 5px;
}

.chat-input-send-container input {
  min-width: 60vw;
  padding: 5px;

  border-radius: 5px;
  /* border: 1px solid var(--bg-secondary); */
  margin: 5px 0;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 40vw;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.message-content {
  width: 60%;
}

.message-info {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-start;
}

.message-own {
  background-color: rgb(26, 101, 162);
  color: white;
  align-self: flex-end;
  margin-right: 10px;
}

.message-other {
  background-color: rgb(188, 188, 188);
  color: black;
  align-self: flex-start;
  margin-left: 10px;
}
