.group-dashboard {
  width: 90vw;
  height: 45vh;
  min-height: 45vh;
  max-height: 45vh;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.group-dashboard-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 25vw;
  height: 45vh;
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.group-dashboard-button-container button {
  width: 100%;
  min-height: 30px;
  max-height: 30px;
  margin-bottom: 10px;

  z-index: 200;
}

.group-dashboard-button-container button.open {
  margin-bottom: 0;

  border-radius: 5px 5px 0 0;
}

.group-dashboard-actions-container {
  width: 25vw;
  z-index: 100;
  margin-bottom: 10px;

  border-radius: 0 0 5px 5px;
  border: 1px solid black;
  border-top: none;
  background-color: var(--bg-secondary);
}

.invite-results {
  width: calc(25vw - 20px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invite-results-table {
  width: 22vw;
  min-height: 10vh;
  max-height: 20vh;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-row {
  width: 20vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#invite-username {
  font-weight: bold;
  margin-right: 5px;
}

.success #invite-message {
  color: green;
}

.error #invite-message {
  color: red;
}