.ant-modal-close {
    max-width: 30px !important;
    min-width: 30px !important;
    max-height: 30px !important;
    min-height: 30px !important;
    background-color: rgb(178, 178, 178) !important;
    color: black !important;
    border-radius: 50% !important;
}

.ant-form-item-label {
    display: none !important;
    /* min-height: 0px !important;
    height: 0px !important; */
}

.ant-modal-close:hover {
    background-color: rgb(222, 40, 40) !important;
    color: white !important;
}

.ant-select-selection-search-input {
    height: fit-content !important;
    font-size: 1rem !important;
}

.invite-results {
    width: 100%;
    color: black;
}

.invite-results h4 {
    color: black;
}

.invite-result-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.invite-result-row {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.invite-result-row p:first-child {
    width: 20%;
    font-weight: bold;
}

.invite-result-row p:last-child {
    width: 70%;
}

#success {
    background-color: rgb(163, 246, 163);
}

#error {
    background-color: rgb(246, 163, 163);
}