.profile-management-form {
  min-height: 90vh;
  max-height: 90vh;

  justify-content: flex-start;
}

.profile-management-form h2 {
  margin: 40px 0 20px 0;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  margin-top: 20px;
}

.profile-image-container img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;

  margin: 0;
}

.form-final-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto auto 0 auto;
}
